.form-field {
  width: 70%;
  background-color: $section-gray;
}

.form-title {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}

.form-section {
  display: flex;
  width: 100%;

  &__label {
    width: 30%;
    font-weight: 500;
  }

  &__form {
    margin-left: 2%;
    width: 60%;
  }
}

.input-text {
  display: block;
  width: 100%;
}

.input-submit{
  margin: 0 auto;
}