.header-container {
  height: 100px;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  margin-bottom: 60px;
  align-items: center;

  .title {
    color: #68B9AF;
    font-weight: bold;
    font-size: 150%;
  }

  .menu-list {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    li {
      margin-left: 0.5rem;
    }
  }
}
