* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", sans-serif;
  font-weight: 500;
  color: #333;
  line-height: 2.0;
}

a {
  text-decoration: none;
  color: #000;
}

// レイアウト
.wrapper {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 4%;
}

.container {
  width: 100%;
  padding: 0 1rem;
  align-items: center;
  margin-bottom: 60px;
  
  &__inner {
    margin: 0 auto;
    padding: 5%;
  }
}

// 色
$main-green: #028935;
$sub-green: #A6E0AC;
$alert-red: #DB0224;
$section-gray: #D7D7D8;